.image {
    margin-left: 50px;
    width: 50px;
}

.d-flex {
    margin-right: 20px;
}

.Navbar {
    background-color: #151515;
    width: 100%;
    z-index: 2;

}

.Nav-link{ 
    background-color: #151515;
    font-weight: bold;
}