.title-categoryEdit {
    color: #fff;
    margin-top: 40px;
    margin-left: 80px;
    font-weight: bold;
}

.categoryEdit-form {
    width: 90%;
    margin-top: 70px;
    margin-left: 80px;
    background: #D2D2D240 !important;
    border: 0px solid #BCBCBC;
    color: white !important;
    box-shadow: none !important;
    /* border-color: #303030 !important; */
}

.categoryEdit-button {
    margin-top: 70px;
    margin-left: 80px;
    width: 90%;
    background: #56C05A  !important;
    border: none;
    color: white !important;
    box-shadow: none !important;
}